a{
    color: whitesmoke;
}

.eclipse-container{
    position: relative;
}

.h1papers{
    position: relative;
    text-align: center;
    top: 20vh;
    font-size: 50px;
    color: rgb(255, 151, 25);
    z-index: -1;
}

.eclipse_img{
    position: relative;
    bottom: 19.6vh;
    width: 100%;
    object-fit: cover;
    align-self: center;
    height: 400px;
    z-index: -2;
}

.catalog_img{
    height: 400px;
    width: 750px;
}

.publications_section_main{
    text-align: center;
    color: whitesmoke;
}


article{
    text-decoration: none;
}

.article_catalog{
    text-align: justify;
    margin-left: 6px;
    margin-right: 6px;
    /*background-color: rgb(17, 17, 17); */
    border: 1px solid white;
    padding: 23px;
    border-radius: 10px;
}

.titulo_publications_articles{
    text-align: justify;
    align-items: center;
}

.publications_text{
    text-align: justify;
}

.publications_links-div{
    text-align: center;
    margin-top: 30px;
}

.publications_links{
    text-align: center;
    padding: 9px;
    width: 100px;
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
}

.publications_links:hover{
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}



@media screen and (min-width: 999px) {
    .article_catalog{
        
        margin-left: 200px;
        margin-right: 200px;
    }

    .titulo_publications_articles{
        text-align: center;
    }


}