
.form-box{
    text-align: center;
    width: 389px;
    height: 469px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    padding: 20px;
    margin-top: 26px;
    margin-bottom: 23px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.form-box-register{
    text-align: center;
    width: 389px;
    height: 569px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    padding: 20px;
    margin-top: 26px;
    margin-bottom: 23px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.titulo_form{
    color: rgb(255, 147, 15);
    text-align: center;
}

.input-box{
    width: 80%;
    height: 50px;
    border-bottom: 2px solid #ffffff;
    margin: 30px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label, .input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #ffffff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .material-symbols-outlined{
    position: absolute;
    right: 8px;
    font-size: 1.5em;
    color: #ffffff;
    line-height: 57px;
}

.btn{
    width: 40%;
    height: 45px;
    margin-top: 19px;
    margin-bottom: 39px;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.btn:hover{
    opacity: 0.7;
}

.register_code_link{
    color: rgb(255, 147, 15);
}

.register_code_link:hover{
    opacity: 0.7;
}