{% extends 'exoplanets_app/base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Curva de Luz</title>
    <link rel="stylesheet" href="{% static 'css/exoplanets_app/mid/lightcurve.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <main class="content-wrapper">
        <h1 class="page-title">Descubra Possíveis Candidatos a Exoplanetas</h1>

        <form id="kepler-form" class="form-analysis">
            <label for="kepler_id">Kepler ID:</label>
            <input type="text" id="kepler_id" name="kepler_id" required placeholder="Ex: 10544976">
            <button type="submit" class="btn-analyze">Analisar</button>
        </form>
        
        <div id="progress-bar">
            <div id="progress-bar-fill"></div>
        </div>

        
        
        <div id="result" class="result-section" style="display:none;" >
            
            <h2>Período: <span id="period"></span></h2>
            <img id="lightcurve-plot" src="" alt="Gráfico da Curva de Luz" style="display:none;">
            <a id="download-btn" href="" download="lightcurve.png">
                <button class="btn-download">Download Gráfico</button>
            </a>
            
        </div>

        <p class="intro-text">
            Utilizando o método de trânsito fotométrico, este sistema analisa a
            curva de luz de estrelas observadas pelo telescópio espacial Kepler.
            Durante o trânsito, quando um exoplaneta passa em frente à sua estrela,
            ocorre uma diminuição perceptível no brilho observado da estrela.
            Essa variação cria um padrão característico
            na curva de luz, que pode indicar a presença de um exoplaneta.
            <br>
            <br>
            Entretanto, a profundidade de um trânsito planetário geralmente
            é da ordem de 0,01% a 1% do fluxo total da estrela. Ou seja, se houver casos
            em que há uma diminuição maior do brilho da estrela, pode se tratar de um trânsito
            estelar.
            Em outras palavras, em caso de ser um sistema binário e ser observado o momento de
            eclipse das duas estrelas.
            <br>
            <br>
            Além de identificar esses trânsitos, nosso sistema também estima
            o período orbital da estrela. O período é o tempo que a estrela leva para completar
            uma órbita ao redor de seu centro de massa. A estimativa do período é crucial, pois permite prever
            quando o próximo trânsito ocorrerá, facilitando a observação e a confirmação da presença do exoplaneta.
            Conhecer o período também é fundamental para determinar as propriedades orbitais do exoplaneta,
            como a distância média da estrela, o que ajuda a compreender melhor a dinâmica do sistema estelar e a
            possibilidade de condições que possam suportar vida.
            <br>
            <br>
            É válido ressaltar que nossa plataforma ainda está em fase de aprimoramento, estão há uma quantidade
            considerável de objetos que atualmente ainda não conseguem ser processados corretamente. além disso,
            é recomendável permanecer na página enquando a solicitação estiver sendo processada, também como
            atualizar a página se resolver analisar dois objetos em sequência.
        </p>


        
        
        <div id="examples" class="examples-section">
            <h2>Exemplos</h2>
            <div class="example">
                <h3>Casos com Possível Candidato a Exoplaneta:</h3>
                <div class="example-images">
                    <img src="{% static 'img/exoplanets_app/mid/graphics/lightcurvePlanet1.png' %}" alt="Curva de luz com candidato a exoplaneta">
                    <img src="{% static 'img/exoplanets_app/mid/graphics/lightcurvePlanet2.png' %}" alt="Curva de luz com candidato a exoplaneta">
                </div>
                <p class="examples_txt">
                    Nestes exemplos, observe as quedas regulares no brilho da estrela.
                    Essas quedas indicam que um objeto, no nosso caso um exoplaneta,
                    está transitando regularmente em frente à estrela. Perceba que o valor que
                    o fluxo da estrela cai é muito pequeno, menor do que 1%. Agora vamos ver nos
                    exemplos seguintes...
                </p>
            </div>

            <div class="example">
                <h3>Casos com Sistema Binário:</h3>
                <div class="example-images">
                    <img src="{% static 'img/exoplanets_app/mid/graphics/lightcurveV1.png' %}" alt="Curva de luz com candidato a exoplaneta">
                    <img src="{% static 'img/exoplanets_app/mid/graphics/lightcurveV2.png' %}" alt="Curva de luz com candidato a exoplaneta">
                </div>
                <p class="examples_txt">
                    Nestes exemplos, observe as quedas profundas no brilho da estrela.
                    Essas quedas, bem maiores do que 1%,
                    (nos exemplos chegando a aproximadamente 50% de diminuição no brilho da estrela alvo),
                    indicam que um objeto grande em relação ao objeto alvo, possivelmente uma estrela,
                    está transitando regularmente em frente a outra.
                </p>
            </div>

            <div class="example">
                <h3>Casos sem Candidato a Exoplaneta:</h3>
                <div class="example-images">
                    <img src="{% static 'img/exoplanets_app/mid/graphics/lightcurveVN1.png' %}" alt="Curva de luz sem candidato a exoplaneta">
                    <img src="{% static 'img/exoplanets_app/mid/graphics/lightcurveVN2.png' %}" alt="Curva de luz sem candidato a exoplaneta">
                </div>
                <p class="examples_txt">
                    Nestes exemplos, a curva de luz é bastante estável ou cíclica,
                    sem quedas significativas que indiquem a presença de um exoplaneta.
                </p>
            </div>

            
        </div>

    </main>

    <script>
        $(document).ready(function(){
            $('#kepler-form').submit(function(e){
                e.preventDefault();
                
                // Iniciar a barra de progresso
                $('#progress-bar-fill').css('width', '0');
                $('#result').hide();
                $('#download-btn').hide();
                
                const interval = setInterval(function() {
                    const width = $('#progress-bar-fill').width() + 1.5;
                    $('#progress-bar-fill').css('width', width + 'px');
                }, 100);

                // Enviar a requisição AJAX
                $.ajax({
                    url: '{% url "exoplanets_app:lightcurve_analysis" %}',
                    type: 'POST',
                    data: {
                        'kepler_id': $('#kepler_id').val(),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(data) {
                        clearInterval(interval);
                        $('#progress-bar-fill').css('width', '100%');
                        $('#period').text(data.period);
                        $('#lightcurve-plot').attr('src', 'data:image/png;base64,' + data.graphic).show();
                        $('#result').show();
                        $('#download-btn').attr('href', 'data:image/png;base64,' + data.graphic).show();
                    },
                    error: function() {
                        clearInterval(interval);
                        alert('Um erro ocorreu ao buscar os dados para esse objeto. Tente novamente mais tarde ou busque por outro.');
                    }
                });
            });
        });
    </script>
</body>
</html>
{% endblock %}
