
/* home.css */

.hero-section {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 600px; 
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;

    padding: 8px;

    
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
}

.hero-text h1 {
    font-size: 3em; 
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;

    /* Primeiro passo: definir um degradê como fundo 
    background-image: linear-gradient(to bottom, #05006a, rgb(232, 232, 241), rgb(228, 228, 231));*/
    background-image: linear-gradient(to bottom, rebeccapurple, rgb(156, 102, 210), rgb(236, 236, 236),  rgb(238, 238, 241));

    /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
    
    /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
    -webkit-text-fill-color: transparent;
    
    /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
    color: rgb(244, 244, 244);
}

.hero-text p {
    font-size: 16px; 
    margin: 0;

}

.inicial_credits{
    font-size: 12px;
}

.texto_inicial{

    text-align: justify;
    line-height: 2;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.div_texto_inicial{
    position: relative;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
}


.a_text_btn_comece_agr{
    text-decoration: none;
}

.btn_comece_agr{
    padding: 9px;
    border-radius: 6px;
    /* background: radial-gradient(circle at center, red 0, blue, green 100%); */
    background: rgba(44, 39, 65, 0.649);

    color: #ffdd57;


    text-decoration: none;
    letter-spacing: 2px;
    -webkit-box-shadow: 5px 5px 2.5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 5px 5px 2.5px 0px rgba(255,255,255,1);
    box-shadow: 3px 3px 2px 0px rgba(255,255,255,1);
}

.btn_comece_agr_txt{
    color: #ffdd57;
}

.btn_comece_agr:hover{
    opacity: 0.89;

    /*transform: scale(1.2);*/
    transform: translateY(1px);
}


.home-section {
    text-align: center;
}

.image-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.image-card {
    margin: 20px;
    background: rgba(44, 39, 65, 0.649);
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}

.image-card h2{
    color: #ffdd57;
}

.texto_cards{
    text-align: justify;
    line-height: 1.5;
}

.image-card img {
    width: 100%;
    border-radius: 10px;
}


.roadmap-section {
    margin-top: 50px;
    padding: 50px 0;
    background: linear-gradient(to bottom, #02000c, #030013, #030012, #02001a, #030012);
    text-align: center;
}

.roadmap-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #ffdd57;
}

.roadmap-steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.roadmap-step {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 200px;
    color: white;
    text-align: center;
}

.step-number {
    font-size: 24px;
    background-image: linear-gradient(to bottom, rebeccapurple, rgb(156, 102, 210),  rgb(238, 238, 241));
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto 15px;
}

.roadmap-step h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #ffdd57;

    /*
    background-image: linear-gradient(to bottom, rebeccapurple, rgb(156, 102, 210), rgb(236, 236, 236),  rgb(238, 238, 241));

    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo 
    
    /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele 
    -webkit-text-fill-color: transparent;
    
    Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
}

.roadmap-step p {
    font-size: 16px;
    color: #ddd;
}


@media screen and (width < 700px){
    .div_texto_inicial{
        width: 400px;
    }

    .hero-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        min-height: 400px; 
    }
}