{% extends 'mid/base2.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mid/base2.css' %}">
</head>
<body>
        <main>
            <section>

                <article>
                    <p><img src="{% static 'img/3228863/LCfase_KIC 3228863.png' %}" alt="3228863"></p>
                </article>

                <article>
                    <p><img src="{% static 'img/3228863/LCkepler_KIC 3228863.png' %}" alt="3228863"></p>
                </article>

                <article>
                    <p><img src="{% static 'img/3228863/LCtess_KIC 3228863.png' %}" alt="3228863"></p>
                </article>

                <article>
                    <p><img src="{% static 'img/3228863/ocandcurve_KIC 3228863.png' %}" alt="3228863"></p>
                </article>

                <article>
                    <p><img src="{% static 'img/3228863/ocdiagram_KIC3228863.png' %}" alt="3228863"></p>
                </article>

                <article>
                    <p><img src="{% static 'img/3228863/Periodogram_KIC 3228863.png' %}" alt="3228863"></p>
                </article>
                
                <article>
                    <p><img src="{% static 'img/3228863/String_KIC 3228863.png' %}" alt="3228863"></p>
                </article>
            
            </section>
        </main>

    

    
</body>
</html>
{% endblock %}