{% extends 'titan/home/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titan</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/titan/mid/news.css' %}">
</head>

<body>

    <section>
        <h2>Noticias</h2>

        {% for news in news_list %}
        <div class="news-container">
            <!--
            <div class="profile-image-container">
                 Verifica se a imagem do perfil está disponível para o usuário da notícia 
                {% with profile_image=user_profile_images|default:'#' %}
                    {% if news.user.id in user_profile_images %}
                        <img src="{{ profile_image }}" alt="Profile Picture" class="profile-image">
                    {% else %}
                         Se não houver imagem de perfil, exibe uma imagem padrão ou deixe em branco 
                        <img class="profile-image" src="{% static 'img/whyman.png' %}" alt="Profile Picture">
                    {% endif %}
                {% endwith %}
            </div>
            -->

            <div class="news-header">
                <span class="news-author">{{ news.user.username }}</span>
                <span class="news-date">{{ news.created_at }}</span>
            </div>

            {% if news.media %}
            <img src="{{ news.media.url }}" alt="News Media" class="news-media">
            {% endif %}

            {% if news.video_url %}
            <iframe width="560" height="315" src="{{ news.video_url }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}

            <p>{{ news.text }}</p>
        </div>
        {% endfor %}
    </section>


</body>

</html>
{% endblock %}