{% extends 'titan/home/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Titan</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/titan/mid/team.css' %}">
</head>
<body>
        <h1 class="h1team">NOSSO TIME</h1>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageLeo.jpg' %}">
            <div class="team-info">
                <h2>PROF. LEONARDO ANDRADE DE ALMEIDA</h2>
                <p class="descricao">Atualmente é professor Adjunto da Universidade Federal do Rio Grande do Norte lotado na Escola de Ciências e Tecnologia (ECT/UFRN), vice-coordenador do Programa de Pós-Graduação em Engenharia Aeroespacial da UFRN (PPGEA/UFRN), Líder do TITAN e coordenador do projeto de extensão Cometa Nordestino.</p>
                <a href="http://lattes.cnpq.br/7812463045514059" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageJoao.jpeg' %}">
            <div class="team-info">
                <h2>JOÃO VICTOR FERREIRA LACERDA AIRES</h2>
                <p class="descricao">Doutorando em física pela UFRN (desde 2023), possuo experiência nas áreas de: modelagem computacional da interação de maré estrela-exoplaneta; espectroscopia e determinação de parâmetros fundamentais para estrelas do tipo solar; determinação de idades para análogas solares; determinação das propriedades de exoplanetas à partir da variação do tempo de trânsito.</p>
                <a href="http://lattes.cnpq.br/2805900511454723" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageWendel.jpeg' %}">
            <div class="team-info">
                <h2>GABRIEL WENDELL CELESTINO ROCHA</h2>
                <p class="descricao">Bacharelado em Física pela Universidade Federal do Rio Grande do Norte (UFRN). Mestrado em andamento pelo Programa de Pós-Graduação em Física da UFRN. Tem experiência na área de Asterosismologia de estrelas do tipo solar e gigantes vermelhas e Astroestatística. Atualmente trabalha em modelagem matemática e computacional do fenômeno de turbulência magnetohidrodinâmica e suas respectivas aplicações em Astrofísica..</p>
                <a href="http://lattes.cnpq.br/0049111339899544" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageLidia.jpeg' %}">
            <div class="team-info">
                <h2>LÍDIA MARIA PEREGRINO DE FARIA</h2>
                <p class="descricao">Graduação em Física Bacharelado pela Universidade Federal do Rio Grande do Norte (2018 - 2022) e, atualmente, estudante de mestrado em Física pela UFRN (desde 2022).</p>
                <a href="https://buscatextual.cnpq.br/buscatextual/visualizacv.do" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageMat.png' %}">
            <div class="team-info">
                <h2>MATHEUS GABRIEL DE OLIVEIRA MATOS </h2>
                <p class="descricao">atualmente, estudante de mestrado em Física pela UFRN e Técnico em Eletromecânica formado pelo IFRN e Graduando em fase final no Bacharelado em Ciências e Tecnologias da UFRN. Possui desenvoltura nas práticas orais e no gerenciamento de grupos, buscando sempre melhorar seu currículo e carreira.</p>
                <a href="http://lattes.cnpq.br/4449877057849189" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageDia.jpg' %}">
            <div class="team-info">
                <h2>DIANA MOURA SILVA</h2>
                <p class="descricao">Estudante de bacharelado em Física pela UFRN, se dedicando a Astronomia e Oceanografia, com especial interesse em estudar planetas.</p>
                <a href="http://lattes.cnpq.br/4635525629855803" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageLiv.png' %}">
            <div class="team-info">
                <h2>LÍVIA MARIA BEZERRA DA SILVA</h2>
                <p class="descricao">Bacharelanda em Ciência & Tecnologia pela Universidade Federal do Rio Grande do Norte (UFRN), com especial interesse em estudar Astrofísica Estelar.</p>
                <a href="http://lattes.cnpq.br/9846510821272342" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <h2 class="h2team">EGRESSES</h2>

        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageEde.png'%}">
            <div class="team-info">
                <h2>Éder Vinícius Xavier Ferreira</h2>
                <p class="descricao">Graduanda em Ciência e Tecnologia pela Universidade Federal do Rio Grande do Norte (UFRN), atua na área de Engenharia De Software e no âmbito de Astrofísica Estelar como parte do programa de iniciação científica.</p>
                <a href="http://lattes.cnpq.br/1606641179245455" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageIsaac.png'%}">
            <div class="team-info">
                <h2>ISAAC MENDONÇA MACÊDO</h2>
                <p class="descricao">Atualmente é Ph.D. Aluno do Programa de Pós-Graduação em Física (PPgF) do Departamento de Física - Universidade do Estado do Rio Grande do Norte (UERN).</p>
                <a href="http://lattes.cnpq.br/2115690258530395" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageJef.png' %}">
            <div class="team-info">
                <h2>JEFFERSON RODRIGO PEREIRA INÁCIO</h2>
                <p class="descricao">Doutorando pela Universidade do Estado do Rio Grande do Norte sob orientação do Prof. Leonardo Almeida. Ele está interessado em exoplanetas em torno de sistemas binários.</p>
                <a href="http://lattes.cnpq.br/0513496554013570" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageDanilo.png' %}">
            <div class="team-info">
                <h2>DANILO FERREIRA DA ROCHA</h2>
                <p class="descricao">Técnico em Edificações pelo Instituto Federal de Alagoas (2013) e Graduado em Física pela Universidade Federal de Alagoas (2019). Atualmente é mestrando em Astronomia pela Universidade do Estado do Rio Grande do Norte (UERN).</p>
                <a href="http://lattes.cnpq.br/3170434769675374" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageEli.png' %}">
            <div class="team-info">
                <h2>ELIELSON SOARES PEREIRA</h2>
                <p class="descricao">Natural de Capelinha-MG, formou-se em Astronomia (2017) e Física (2018) pela Universidade de São Paulo.  Tem interesse em exoplanetologia e atualmente trabalha no projeto do Prof. Leonardo Almeida na busca de exoplanetas em torno de sistemas binários evoluídos.</p>
                <a href="http://lattes.cnpq.br/9304289990431544" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageAla.png' %}">
            <div class="team-info">
                <h2>ALANNA KHÉSLEY L. COSTA</h2>
                <p class="descricao">Graduanda em Ciência e Tecnologia pela Universidade Federal do Rio Grande do Norte (UFRN), atua na área de Exoplanetologia como parte do programa de iniciação científica.</p>
                <a href="http://lattes.cnpq.br/4137603881819917" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageDan.png' %}">
            <div class="team-info">
                <h2>DANIELA FERREIRA GAMA</h2>
                <p class="descricao">Técnica em informática pelo Instituto Federal do Rio Grande do Norte (IFRN) e atualmente graduanda em Ciências Biológicas pela Universidade do Estado do Rio Grande do Norte (UERN), atua também como aluna de iniciação científica na área de exoplanetologia .</p>
                <a href="http://lattes.cnpq.br/4834446485296229" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageJesi.png' %}">
            <div class="team-info">
                <h2>JÉSSICA DE OLIVEIRA DO NASCIMENTO</h2>
                <p class="descricao">Graduanda em Física pela Universidade do Estado do Rio Grande do Norte (UERN), atua na iniciação científica (área de Exoplanetologia) e no programa institucional de iniciação docente - PIBID.</p>
                <a href="http://lattes.cnpq.br/4116461330792436" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageLuis.png' %}">
            <div class="team-info">
                <h2>LUIS RAMON BABORSA FERNANDEZ</h2>
                <p class="descricao">Graduando em Física pela Universidade do Estado do Rio Grande do Norte (UERN), atua na iniciação científica (área de Exoplanetologia) e no programa institucional de iniciação docente - PIBID.</p>
                <a href="http://lattes.cnpq.br/9958013869102120" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imageMizael.png' %}">
            <div class="team-info">
                <h2>MIZAEL H. B. DE OLIVEIRA</h2>
                <p class="descricao">Graduando em Física pela Universidade do Estado do Rio Grande do Norte (UERN), atua na iniciação científica (área de Exoplanetologia) e no programa institucional de iniciação docente - PIBID.</p>
                <a href="http://lattes.cnpq.br/1795150572577412" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
        <section class="section-team">
            <img class='imageteam' src="{% static 'img/titan/mid/imagetar.png' %}">
            <div class="team-info">
                <h2>TARCÍSIO G. FERNANDES</h2>
                <p class="descricao">Estudante de graduação em Física pela Universidade do Estado do Rio Grande do Norte (UERN), onde atua no Programa Institucional de Bolsas de Iniciação Científica (PIBIC) orientado pelo Prof. Leonardo Almeida. Ele se interessa por exoplanetologia e sistemas binários para poder avisar “Quando o segundo Sol chegar”.</p>
                <a href="http://lattes.cnpq.br/5583625168977341" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section> 
        <section class="section-team" id="buttonaesthic">
            <img class='imageteam' src="{% static 'img/titan/mid/imageThaina.png' %}">
            <div class="team-info" >
                <h2>THAINA VILA NOVA DIÓGENES</h2>
                <p class="descricao">Graduanda em Física pela Universidade do Estado do Rio Grande do Norte (UERN), atua na iniciação científica (área de Exoplanetologia) e no programa institucional de iniciação docente - PIBID.<p>
                <a href="http://lattes.cnpq.br/3391926828744417" target="_blank">
                    <button class="buttoncv">CV Lattes</button> </a>
                </a>
            </div>
        </section>
</body>
</html>
{% endblock %}