{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extrassolar</title>
    <link rel="stylesheet" href="{% static 'css/exoplanets_app/base.css' %}">
    <link rel="shortcut icon" href="{% static 'img/exoplanets_app/home/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <main class="meteor-bg">
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'exoplanets_app:home' %}">Home</a></li>
                <li><a href="{% url 'exoplanets_app:detection_methods' %}">Detecção</a></li>
                <li><a href="{% url 'exoplanets_app:listar_objetos' %}">Catálogos</a></li>
                <li><a href="{% url 'exoplanets_app:lightcurve_analysis' %}">Workspace</a></li>
            </ul>
        </nav>

        <section class="content">
            {% block content %}
            {% endblock %}
        </section>

        <div class="meteor" style="--x: 0.1;"></div>
        <div class="meteor" style="--x: 0.3;"></div>
        <div class="meteor" style="--x: 0.5;"></div>
        <div class="meteor" style="--x: 0.7;"></div>
        <div class="meteor" style="--x: 0.9;"></div>


    </main>





    <script>
        function createMeteor() {
            const meteor = document.createElement('div');
            meteor.classList.add('meteor');
            meteor.style.left = Math.random() * 100 + 'vw';
            meteor.style.animationDuration = Math.random() * 2 + 1 + 's';
            document.querySelector('.meteor-bg').appendChild(meteor);
    
            setTimeout(() => {
                meteor.remove();
            }, 5000); // Remove the meteor after 5 seconds
        }
    
        function generateMeteors() {
            setInterval(createMeteor, 600); // Create a new meteor every 0.6 seconds
        }
    
        window.onload = generateMeteors;
    </script>
    
</body>
</html>
