{% extends 'catalog/mid/base2.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <main> 
        <section id="container">
            <!-- Exibir informações do objeto_kic aqui -->
            <table>
                <thead>
                    <tr>
                        <th class="sdata" colspan="3">Binary Parameters</th>
                        <th class="nada"></th>
                        <th class="tdata" colspan="5">Third Body Pameters</th>
                        <th class="nada"></th>
                        <th class="tdata" colspan="2">Linear Term</th>
                    </tr>
                    <tr>
                        <th title="Kepler identifier">KIC</th>
                        <th title="period of binary">period</th>
                        <th title="Epoch">Epoch</th>
                        <th class="nada"></th>
                        <th title="Third body period">period</th>
                        <th title="Third body period">Epoch</th>
                        <th title="Third body eccentricity">Eccentricity</th>
                        <th title="Projected semi-major axis of the third body">a * sin(i)</th>
                        <th title="third body inclination">&omega;</th>
                        <th class="nada"></th>
                        <th title="Linear coefficient of the adjusted linear ephemeris">B</th>
                        <th title="Angular coefficient of the adjusted linear ephemeris">A</th>
                    </tr>
                    <tr>
                        <th class="unidades" ></th>
                        <th class="unidades">( d )</th>
                        <th class="unidades">( BJD - 2400000 )</th>
                        <th class="nada"></th>
                        <th class="unidades">( d )</th>
                        <th class="unidades">( BJD - 24548333 )</th>
                        <th class="unidades">  </th>
                        <th class="unidades">( au )</th>
                        <th class="unidades">( ° )</th>
                        <td class="nada"></td>
                        <th class="unidades">( min )</th>
                        <th class="unidades">( min/d )</th>
                    </tr>
                
                </thead>
                <tbody>
                    {% for dado in lista_pagina_out %}
                    <tr>
                        <tr>
                            <td class="KIC/EPIC"><a href="{% url 'Capp:pagina_objetos' kic=dado.kic %}">{{ dado.kic }}</a></td>
                            <td class="Period">{{ dado.Period }}</td>
                            <td class="bjd0">{{ dado.epoch }}</td>
                            <td class="nada"></td>
                            <td class="Period_td">{{ dado.Period_td }}</td>
                            <td class="Period_td">{{ dado.epoch_td }}</td>
                            <td class="e">{{ dado.e}}</td>
                            <td class="a">{{ dado.a }}</td>
                            <td class="omega">{{ dado.omega }}</td>
                            <td class="nada"></td>
                            <td class="Aa">{{ dado.Aa}}</td>
                            <td class="Bb">{{ dado.Bb }}</td>
                        </tr>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        


        <section id="imagensobj"> 

            <article>
                <h1 id="seqfigsh1">Figure Descriptions</h1>
                <p class="seqfigsp">From left to right and top to bottom:</p>
                <p class="seqfigsp"> (i) Kepler lightcurve, (ii) TESS lightcurve, (iii) Lomb-Scargle periodogram, </p>
                <p class="seqfigsp">(iv) String-length periodogram, (v) Lightcurve in phase, and (vi) O-C Diagram.</p>
            </article>
        

            <article>
                <p><img src="{% static 'img/catalog/objects17/9970937.png' %}" alt="9970937"></p>
            </article>
            

        </section>


    </main>




</body>
</html>
{% endblock %}