dj-database-url==2.0.0
Django==4.1.9
django-cors-headers==4.0.0
django-heroku==0.3.1
django-jsonfield-backport==1.0.5
django-notifs==4.0.0
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.2
djoser==2.2.0
gunicorn==21.2.0
keyring==23.13.1
mysql-connector-python==8.0.32
pygubu==0.29
PyHamcrest==2.0.4
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.15
PyJWT==2.7.0
pymc3==3.11.5
pyodbc==4.0.35
pyOpenSSL==23.1.1
PyPika==0.48.9
pypika-tortoise==0.1.6
pyproject_hooks==1.0.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2022.7.1
pyvo==1.4.1
PyYAML==6.0.1
pyzmq==23.2.0
referencing==0.30.0
six=ial-auth-core==4.4.2
soupsieve==2.4.1
sqlparse==0.4.4
stack-data==0.3.0
Theano-PyMC==1.1.2
twisted-iocpsupport==1.0.3
typing_extensions==4.5.0=1.16.0
social-auth-app-django==5.2.0
uncertainties==3.1.7
urllib3==1.26.10
virtualenv==20.24.2
whitenoise==6.4.0
zope.event==4.6
zope.interface==6.0
