aiohttp
aiopg
aioredis
aiosignal
aiosqlite
altgraph
amqp
arviz
asgiref
asteval
astropy
astroquery
asttokens
async-timeout
atlastk
attrs
autobahn
autograd
Automat
backcall
beautifulsoup4
billiard
bokeh
build
CacheControl
cachetools
celery
certifi
cffi
cftime
channels
channels-postgres
channels-redis
charset-normalizer
cleo
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
consumers
contourpy
corner
crashtest
cryptography
cx-Freeze
cx-Logging
cycler
daphne
debugpy
decorator
defusedxml
deprecat
dill
distlib
dj-database-url
Django
django-cors-headers
django-heroku
django-jsonfield-backport
django-notifs
django-templated-mail
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
djoser
dulwich
emcee
entrypoints
et-xmlfile
executing
fast-histogram
fastprogress
fbpca
filelock
fonttools
frozenlist
future
gevent
greenlet
gunicorn
html5lib
hyperlink
idna
importlib-metadata
incremental
installer
ipykernel
ipython
iso8601
jaraco.classes
jedi
Jinja
joblib
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
keyring
kiwisolver
kombu
lief
lmfit
lockfile
MarkupSafe
matplotlib
matplotlib-inline
memoization
more-itertools
msgpack
multidict
mysql-connector-python
nest-asyncio
netCDF4
numpy
oauthlib
oktopus
openai
openpyxl
packaging
pandas
parso
patsy
pefile
pep517
pexpect
pickleshare
pika
Pillow
pkginfo
platformdirs
poetry
poetry-core
poetry-plugin-export
prompt-toolkit
protobuf
psutil
psycopg2
psycopg2-binary
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
pyerfa
Pygments
pygubu
PyHamcrest
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pymc3
pyodbc
pyOpenSSL
pyparsing
PyPika
pypika-tortoise
pyproject_hooks
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
python-dotenv
python3-openid
pytz
pyvo
pywin32
pywin32-ctypes
PyYAML
pyzmq
rapidfuzz
redis
referencing
requests
requests-oauthlib
requests-toolbelt
rpds-py
scikit-learn
scipy
semver
service-identity
setuptools-scm
shellingham
simplejson
six
social-auth-app-django
social-auth-core
soupsieve
sqlparse
stack-data
Theano-PyMC
threadpoolctl
tomli
tomlkit
tornado
tortoise
tortoise-orm
tqdm
traitlets
trove-classifiers
Twisted
twisted-iocpsupport
txaio
typing_extensions
tzdata
uncertainties
urllib3
vine
virtualenv
wcwidth
webencodings
whitenoise
wrapt
xarray
xarray-einstats
xyzservices
yarl
zipp
zope.event
zope.interface
