aiohttp
aiopg
aioredis
aiosignal
aiosqlite
altgraph
amqp
arviz
asgiref
asteval
astropy
astroquery
asttokens
async-timeout
atlastk
attrs
autobahn
autograd
Automat
backcall
beautifulsoup4
billiard
bokeh
build
CacheControl
cachetools
celery
certifi
cffi
cftime
channels
channels-postgres
channels-redis
charset-normalizer
cleo
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
consumers
contourpy
corner
crashtest
cryptography
cx-Freeze
cx-Logging
cycler
daphne
debugpy
decorator
defusedxml
deprecat
dill
distlib
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
django-heroku
django-jsonfield-backport
django-notifs
django-templated-mail
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
djoser
dulwich
entrypoints
et-xmlfile
executing
fast-histogram
fastprogress
fbpca
filelock
fonttools
frozenlist
future
gevent
greenlet
gunicorn
html5lib
hyperlink
idna
importlib-metadata
incremental
installer
ipykernel
ipython
iso8601
jaraco.classes
jedi
joblib
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
keyring
kiwisolver
kombu
lief
lmfit
lockfile
MarkupSafe
matplotlib
matplotlib-inline
memoization
more-itertools
msgpack
multidict
mysql-connector-python
nest-asyncio
netCDF4
numpy
oauthlib
oktopus
openai
openpyxl
packaging
pandas
parso
patsy
pefile
pep517
pexpect
pickleshare
pika
Pillow
pkginfo
platformdirs
poetry
poetry-core
poetry-plugin-export
prompt-toolkit
protobuf
psutil
psycopg2
psycopg2-binary
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
pyerfa
Pygments
pygubu
PyHamcrest
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pymc3
pyodbc
pyOpenSSL
pyparsing
PyPika
pypika-tortoise
pyproject_hooks
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
python-dotenv
python3-openid
pytz
pyvo
PyYAML
pyzmq
rapidfuzz
redis
referencing
requests
requests-oauthlib
requests-toolbelt
rpds-py
scikit-learn
semver
service-identity==21.1.0
setuptools-scm==7.1.0
shellingham==1.5.0.post1
simplejson==3.19.1
six==1.16.0
social-auth-app-django==5.2.0
social-auth-core==4.4.2
soupsieve==2.4.1
sqlparse==0.4.4
stack-data==0.3.0
Theano-PyMC==1.1.2
threadpoolctl==3.2.0
tomli==2.0.1
tomlkit==0.12.1
tornado==6.2
tortoise==0.1.1
tortoise-orm==0.19.3
tqdm==4.65.0
traitlets==5.3.0
trove-classifiers==2023.7.6
txaio==23.1.1
typing_extensions==4.5.0
tzdata==2023.3
uncertainties==3.1.7
urllib3==1.26.10
vine==5.0.0
virtualenv==20.24.2
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==6.4.0
wrapt==1.15.0
xarray==2023.7.0
xarray-einstats==0.6.0
xyzservices==2023.7.0
yarl==1.9.2
zipp==3.16.2
zope.event==4.6
zope.interface==6.0