
.article_cometa, .article_astrotime{
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 20px;
    /*background-color: rgb(17, 17, 17); */
    border: 1px solid white;
    padding: 23px;
    border-radius: 10px;
}

.earth_img{
    position: relative;
    bottom: 19.6vh;
    width: 100%;
    object-fit: cover;
    align-self: center;
    height: 460px;
    z-index: -2;
}

.h1_extensions{
    position: relative;
    text-align: center;
    top: 20vh;
    font-size: 50px;
    color: rgb(255, 151, 25);
    z-index: -1;
}

.container-extensions{
    display: block;
    text-align: center;
}

.astrotime_logo{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.cometa_logo{
    height: 200px;
    width: 350px;
}

.extensions_text{
    text-align: justify; 
    margin-bottom: 39px;
}

.extensions_links-div{
    display: block;
}

a{
    color: whitesmoke;
}

.extensions_links{
    text-align: center;
    padding: 9px;
    width: 100px;
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
}

.extensions_links:hover{
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.section-apoiadores{
    text-align: center;
    width: 100%;
}

.section-apoiadores h1{
    color: rgb(255, 151, 25);
    margin: 36px;
}

.article-apoiadores{
    text-align: center;
    display: flex;
    
}

.img-apoiadores{
    max-height: 99px;
    max-width: 190px;
    margin: auto;
}

@media screen and (min-width: 999px) {
    .article_cometa, .article_astrotime{
        margin-left: 200px;
        margin-right: 200px;
    }

    .container-extensions{
        display: flex;
    }

    .extensions_text{
        margin-top: 30px;
    }

}

