<div id="content-main">
    <form method="post" action="{% url 'admin:login' %}">
        {% csrf_token %}
        <div class="form-row">
            <label for="{{ form.username.id_for_label }}" class="required">Nome de usuário:</label>
            {{ form.username }}
        </div>
        <div class="form-row">
            <label for="{{ form.password.id_for_label }}" class="required">Senha:</label>
            {{ form.password }}
        </div>
        <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url 'admin:index' %}{% endif %}">
        <div class="submit-row">
            <input type="submit" value="Log in">
        </div>
    </form>
</div>