h2{
    text-align: center;
    color: rgb(255, 147, 15);
}

.news-container {
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: transparent;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.profile-image-container {
    margin-bottom: 10px;
}

.profile-image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

/* Estilo para o cabeçalho da publicação (autor e data) */
.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.news-author {
    font-weight: bold;
}

.news-date {
    color: #777;
}

/* Estilo para o conteúdo da publicação */
.news-content {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Estilo para a imagem da publicação */
.news-media {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media screen and (min-width: 999px) {
    .news-container{
        max-width: 600px;
    }

    .news-content {
        max-width: 600px;
        height: auto;
        margin-bottom: 10px;
    }
    
    .news-media {
        max-width: 600px;
        height: auto;
        border-radius: 8px;
    }
}