body{
    background-color: rgb(25 25 25);;
}
.h1team{
    padding-top: 150px;
    text-align: center;
    top: 29vh;
    font-size: 50px;
    color: rgb(255, 151, 25);
}

.h2team{
    padding-top: 75px;
    text-align: center;
    font-size: 50px;
    color : rgb(255, 151, 25)
}

.buttoncv{
    padding: 19px;
    margin-top: 45px;
    background-color: rgb(255, 151, 25);
    border: none;
    border-radius: 50%;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.buttoncv:hover{
    transition: 0.5s ease-in-out;
    opacity: 0.8;
}

.section-team{
    display: flex;
    padding-top: 16vh;
    
}

.team-info {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    line-height: 1.875em;
    margin-top: 20px;
}

.descricao{
    margin-top: 30px;
    max-width: 500px;
    word-wrap: break-word;
}

h2{
    color: rgb(255, 151, 25);
    
}
.imageteam{
    margin-left: 10vw;
    width: 400px;
    height: 400px;
    object-fit: fill;
    border-radius: 100%;
}

#buttonaesthic{
    margin-bottom: 64px;
}

