{% extends 'titan/home/base.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/titan/home_admin/view_profile.css' %}">
</head>

<body>
    <section class="view_profile_main">
        <article class="profile_informations">
            <h2>{{ user_profile.user.username }}</h2>
            {% if user_profile.profile_picture %}
                <img class="rounded-profile-picture" src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
            {% else %}
                <img class="rounded-profile-picture" src="{% static 'img/whyman.png' %}" alt="Profile Picture">
            {% endif %}
            
            <p>Bio: {{ user_profile.bio }}</p>
            {% if is_owner %}
            <p><a href="{% url 'Titan_app:edit_profile' %}">Editar Perfil</a></p>
            <p><a href="{% url 'Titan_app:create_news' %}">Nova Noticia</a></p>
            
            {% endif %}

            <h3>Publicações</h3>
            {% for news in user_news_list %}
              <div class="news-container">
                <div class="news-content">
                  <h4>{{ news.title }}</h4>
                  <p>{{ news.text }}</p>
                </div>
                
                {% if news.media %}
                  <img src="{{ news.media.url }}" alt="News Media" class="news-media">
                {% endif %}
                
                {% if news.video_url %}
                  <iframe width="560" height="315" src="{{ news.video_url }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}
          
                <p>Published on {{ news.created_at }}</p>
          
                {% if is_owner %}
                  <a href="{% url 'Titan_app:edit_news' news.id %}">Edit</a>
                  <a href="{% url 'Titan_app:delete_news' news.id %}">Delete</a>
                {% endif %}
              </div>
            {% endfor %}
        </article>
    </section>
</body>

</html>

{% endblock %}