{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cometa Nordestino</title>
  <link rel="shortcut icon" href="{% static 'img/cometa/home/favicon_io/favicon.ico' %}" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="{% static 'css/cometa/home/home.css' %}">

  <script src="https://maps.googleapis.com/maps/api/js?key=SUA_CHAVE_DA_API&callback=initMap" async defer></script>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body>
  <script src="{% static 'js/titan/burger.js' %}"></script>
  <script src="{% static 'js/titan/slider.js' %}"></script>
  <header>
    <!-- 
    <div id="menu-toggle">&#9776;</div>
    <nav id="nav-list">
      <ul>
        <li><a class="navlinks" href="{% url 'Titan_app:home' %}">Home</a></li>
        <li><a class="navlinks" href="#about">Notícias</a></li>
        <li><a class="navlinks" href="{% url 'Titan_app:publications' %}">Publicações</a></li>
        <li><a class="navlinks" href="#services">Time</a></li>
        <li><a class="navlinks" id="login_border" href="#contact">Fazer Login</a>
        </li>

      </ul>
          </nav>
      -->
  </header>

  <section class="section_header">

    <nav id="nav-list">
      <ul>
        <li><a class="navlinks" href="{% url 'Cometa_app:home' %}">Home</a></li>
        <li><a class="navlinks" href="#notices">Notícias</a></li>
        <li><a class="navlinks" href="#missoes">Missões</a></li>
        <li><a class="navlinks" href="#time">Time</a></li>
        <li><a class="navlinks" href="{% url 'Cometa_app:login' %}">Login</a>
        </li>

      </ul>
    </nav>

  </section>
  
  <main>
    <section class="section_main">
      {% block content %}
      {% endblock %}
    </section>
  </main>

  <footer>
    <p class="p_footer">&copy; 2023 Cometa Nordestino. Todos os direitos reservados.</p>
  </footer>

</body>

</html>