@charset "UTF-8";

  * {
    margin: 0;
    padding: 0;
    

  }

  html{
    min-width: max-content;
  }

  a {
    text-decoration: none;
    transition: 0.3s;
  }

  
  .pnames{
    position: absolute;
    padding-top: 20px;
    color: rgb(0, 0, 16);
  }
  
  #logoname{
    font-size: 45px;
    padding: 15px;
    padding-left: 40px;
  }

  #logoname2{
    font-size: 35px;
    margin: 15px;
    margin-left: 40px;
  }

  #logoname3{
    font-size: 25px;
    margin: 15px;
    margin-left: 40px;
  }

  .form_box{
    margin: 15px;
    margin-left: 40px;
    font-family: sans-serif;
  }

  input{
    color: rgb(0, 0, 16);
    border-radius: 4px;
    font-size: 16px;
    background-image: linear-gradient(to right, rgb(245, 245, 245), rgb(235, 235, 235), rgb(225, 225, 225));
  }

  .btns{
    border-radius: 4px;
    font-size: 13.2px;
    
    padding: 2px;
    color: rgb(0, 0, 16);
    background-image: linear-gradient(to right, rgb(245, 245, 245), rgb(235, 235, 235), rgb(225, 225, 225));
  }

  .btns:hover{
    opacity: 0.9;
  }


  li:hover {
    opacity: 0.7;
  }
  
  h1, h2, h3{
    color: rgb(233, 233, 233);
  }

  nav {
    min-width: max-content;
    text-align: left;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgb(245, 245, 245), rgb(235, 235, 235), rgb(225, 225, 225));
    height: 8vh;
    margin: 0;
  }
  



  .nav-list {
    list-style: none;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  #l {
    padding: 5px;
  } 

  main {
    margin: 0;
    background-image: linear-gradient(to right, rgb(1, 0, 10), rgb(1, 0, 16), rgb(1, 0, 22));
    /* background-image: linear-gradient(to right, #162938, #213e54, #25445d); */
    height: 92vh;
  }


  #container { /*Transbordagem da tela*/
    left: -0.1vw;
    margin: 18px;
    align-items: center;
    overflow-x: auto;
  }

table{
    border-collapse: collapse;
    align-items: center;
    text-align: center;
    width: 100%;
    

}

td, th{
    border: 1px solid rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
}



thead{
  color: rgb(0, 0, 16);
  background-color: rgb(205, 205, 205);
  font-size: 17px;
}

.nada{
  background-color: rgb(0, 0, 16);
  width: 0.5px;
  border: 0px;
}



.sdata{
  width: 300px;
}

tbody > tr:nth-child(odd){ /*EFEITO ZEBRADO*/
  background-color: rgb(233, 233, 233);
}

tbody > tr:nth-child(even){ /*EFEITO ZEBRADO*/
  background-color: rgb(205, 205, 205);
}

td{
    text-align: center;
}

caption{
  font-size: 18px;
  font-weight: bolder;
  padding: 5px;
}



.pagecontrol1, .pagecontrol2, .pagecontrol3{
  margin-top: 20px;
  color: white;
}

.previous{
  color: white;
  margin-right: 10px;
}

.next{
  color: white;
  margin-left: 10px;
}

.previous:hover, .next:hover{
  opacity: 0.7;
}

@media screen and (max-width: 999px) {
  /* Estilos para tamanhos de tela menores */

  th{
      font-size: 14px;
  }
  td{
      font-size: 13px;
  }

  .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive > .table {
      margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {

      white-space: nowrap;
      padding: 10px; /* Adicione padding aqui */
      text-align: center; /* Centralize o conteúdo */
  }
}


