@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    min-width: max-content;
}
  

a {
    text-decoration: none;
    transition: 0.3s;
}

nav {
    text-align: left;
    font-family: sans-serif;
    min-height: 8vh;
    color: rgb(235, 235, 235);
    min-width: max-content;
    background-image: linear-gradient(to right, rgb(245, 245, 245), rgb(235, 235, 235), rgb(225, 225, 225));
}

a {
    text-decoration: none;
    transition: 0.3s;
  }

  .pnames{
    position: relative;
    padding-top: 20px;
    color: rgb(0, 0, 16);
  }


  main {
    margin: 0;
    background-image: linear-gradient(to right, rgb(1, 0, 10), rgb(1, 0, 16), rgb(1, 0, 22));
    /* background-image: linear-gradient(to right, #162938, #213e54, #25445d); */
    height: 92vh;
  }

  #container { /*Transbordagem da tela*/
    left: -0.1vw;
    margin: 18px;
    align-items: center;
  }

