{% extends 'titan/home/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titan</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/titan/mid/extensions.css' %}">
</head>

<body>

    <section class="extensions-image-container">
        <h1 class="h1_extensions">Projetos de Extensão</h1>
        <img class="earth_img" src="{% static 'img/titan/mid/extensions.png' %}" alt="earth">
    </section>

    <section>
        <article class="article_cometa">
            <h2 class="titulo_publications_articles">Cometa Nordestino</h2>
            <div class="container-extensions">
                <img class="cometa_logo" src="{% static 'img/cometa/home/logo-cometa.png'%}"
                    alt="Logo cometa Nordestino">
                <div class="extensions_text">
                    O projeto de extensão Cometa Nordestino tem o intuito
                    de levar o conhecimento da astronomia e astronáutica
                    pelas escolas do Rio Grande do Norte e da Bahia.
                </div>
            </div>
            <div class="extensions_links-div">
                <a href="https://www.cometanordestino.org/" target="_blank">
                    <span class="extensions_links">
                        Acesse aqui
                    </span>
                </a>
            </div>
        </article>

        <article class="article_cometa">
            <h2 class="titulo_publications_articles">Extrassolar</h2>
            <div class="container-extensions">
                <img class="astrotime_logo" src="{% static 'img/titan/mid/extrassolar_logo1.png'%}"
                    alt="Logo cometa Nordestino">
                <div class="extensions_text">
                   Projeto com o intuito de facilitar e democratizar o acesso ao material de
                   descoberta de possiveis candidados a exoplanetas.
                </div>
            </div>
            <div class="extensions_links-div">
                <a href="{% url 'exoplanets_app:home' %}" target="_blank">
                    <span class="extensions_links">
                        Acesse aqui
                    </span>
                </a>
            </div>
        </article>

        <article class="article_astrotime">
            <h2 class="titulo_publications_articles">AstroTime</h2>
            <div class="container-extensions">
                <img class="astrotime_logo" src="{% static 'img/titan/mid/logo-astrotime.png'%}"
                    alt="Logo cometa Nordestino">
                <div class="extensions_text">
                    O projeto de extensão Astrotime tem como objetivo a
                    realização de seminários com diversos temas dentro da
                    astronomia. 
                </div>
            </div>
            <!--
            <div class="extensions_links-div">
                <a href="https://sites.google.com/view/cometanordestinoteste/p%C3%A1gina-inicial?authuser=0" target="_blank">
                    <span class="extensions_links">
                        Acesse aqui
                    </span>
                </a>
            </div>
            -->
        </article>
    </section>
    <section class="section-apoiadores">
        <h1>Apoiadores</h1>
        <article class="article-apoiadores">
            <img id="img-capes" class="img-apoiadores" src="{% static 'img/titan/mid/capes.png'%}" alt="capes">
            <img id="img-cnpq" class="img-apoiadores" src="{% static 'img/titan/mid/cnpq.png'%}" alt="cnpq">
            <img id="img-ufrn" class="img-apoiadores" src="{% static 'img/titan/mid/ufrn.png'%}" alt="ufrn">
        </article>
    </section>



</body>

</html>
{% endblock %}