{% extends 'titan/home/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Titan</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/titan/mid/publications.css' %}">
</head>

<body>

  <section class="eclipse-container">
    <h1 class="h1papers">Papers</h1>
    <img class="eclipse_img" src="{% static 'img/titan/mid/eclipse.png' %}" alt="eclipse">
  </section>

  <section class="publications_sections_main">

    <section class="section-double">
      <article class="double-article1">
        <h2>Lista de Publicações no NASA ADS</h2>
        <div class="publications_links-div">
          <a target="_blank" href="https://ui.adsabs.harvard.edu/search/fq=%7B!type%3Daqp%20v%3D%24fq_database%7D&fq_database=database%3A%20astronomy&p_=0&q=pubdate%3A%5B2010-01%20TO%209999-12%5D%20author%3A(%22Almeida%2C%20L.%20A.%22)&sort=date%20desc%2C%20bibcode%20desc">
            <span id="span_double" class="publications_links">
              Acesse aqui
            </span>
          </a>
        </div>
      </article>
      
      <article class="double-article2">
        <h2>Artigos Premiados</h2>
        <div id="idpremiados" class="publications_links-div">
          <a href="{% url 'Titan_app:award_articles' %}">
            <span id="span_double" class="publications_links">
              Acesse aqui
            </span>
          </a>
        </div>
      </article>
    </section>

    <article class="article_catalog">
      <h2 class="titulo_publications_articles">Catálogo de Pesquisa e Caracterização de Terceiros Corpos ao Redor de
        Sistemas Binários</h2>
      <!-- <img class="catalog_img" src="{% static 'img/titan/mid/catalog.png'%}" alt="Calogo Tess + kepler"> -->
      <div class="publications_text">
        Com os dados dos Telescópios espaciais TESS e kepler, foi construido um catálogo com a
        caracterização de aproximadamente 240 sistemas binarios. Dentre eles, 75 possuem variações periódicas
        em seu periodo orbital, indicando a presença de canidatos a terceiros corpos, os quais
        também são caracterizados no catálogo.
      </div>
      <div class="publications_links-div">
        <a target="_blank" href="{% url 'Capp:home' %}">
          <span class="publications_links">
            Acesse aqui
          </span>
        </a>
      </div>
    </article>

    <article>
      <a href="{% url 'exoplanets_app:home' %}">Extrassolar</a>
    </article>

  </section>

  <section></section>






</body>

</html>
{% endblock %}