{% extends 'titan/home/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Titan</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/titan/mid/publications.css' %}">
</head>

<body>

  <section class="eclipse-container">
    <h1 class="h1papers">Papers</h1>
    <img class="eclipse_img" src="{% static 'img/titan/mid/eclipse.png' %}" alt="eclipse">
  </section>

  <section class="publications_sections_main">
    <article class="article_catalog">
      <h2 class="titulo_publications_articles">Catálogo de Pesquisa e Caracterização de Terceiros Corpos ao Redor de
        Sistemas Binários</h2>
      <!-- <img class="catalog_img" src="{% static 'img/titan/mid/catalog.png'%}" alt="Calogo Tess + kepler"> -->
      <div class="publications_text">
        Com os dados dos Telescópios espaciais TESS e kepler, foi construido um catálogo com a
        caracterização de 240 sistemas binarios. Dentre eles, 75 possuem variações periódicas
        em seu periodo orbital, indicando a presença de canidatos a terceiros corpos, os quais
        também são caracterizados no catálogo.
      </div>
      <div class="publications_links-div">
        <a href="{% url 'Capp:home' %}">
          <span class="publications_links">
            Acesse aqui
          </span>
        </a>
      </div>
    </article>

  </section>






</body>

</html>
{% endblock %}