{% extends 'titan/home/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/titan/mid/validation.css' %}">
</head>
<body>
    <section>
        <section class="form-box-register">

            <h2 class="titulo_form">Registro</h2>

            <form action="{% url 'Titan_app:signup' %}" method="post">
                {% csrf_token %}
            
                <article class="input-box">
            
                    <span class="material-symbols-outlined">
                        face
                    </span>
            
                    <input type="text" required name="name" id="name">
                    <label>Nome</label>
            
                </article>
            
                <article class="input-box">
            
                    <span class="material-symbols-outlined">
                        person
                    </span>
                    <input type="text" required name="username" id="username">
                    <label>Nome de Usuário</label>
            
                </article>

                <article class="input-box">
            
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                    <input type="text" required name="email" id="email">
                    <label>Email</label>
            
                </article>
            
                <article class="input-box">
            
                    <span class="material-symbols-outlined">
                        lock
                    </span>
                    <input type="password" required name="password1" id="password1">
                    <label>Senha</label>
 
            
                </article>
            
                <article class="input-box">
            
                    <span class="material-symbols-outlined">
                        lock
                    </span>
                    <input type="password" required name="password2" id="password2">
                    <label>Confirme a senha</label>
                    
            
                </article>
            
                <button type="submit" class="btn">Registrar</button>
                
            </form>
        </section>
    </section>
</body>
</html>

{% endblock %}