{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seet Catalog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mid/base2.css' %}">
    
</head>
<body>
    <header>
        <nav>


          <ul class="nav-list">

            <li>
              <p> 
                <a class="pnames" href="{% url 'home' %}">Catalog</a>
              </p>
            </li>
              
          <!-- 
            <li >
              <p>
                <a class="pnames" href="{% url 'article' %}">Article</a>
              </p>
            </li>
          -->

          </ul>

        </nav>
    </header>


  <main>

    <section>
        <a class="voltar" href="{% url 'home' %}">Return</a>
    </section>


    {% block content %}
    {% endblock %}

  </main>

</body>




</html>