{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kepler + TESS Catalog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/estruturamain.css'' %}">
    


</head>
<body>
    <header>
        <nav>

          <ul class="nav-list">

            <li>
                <a id="homename" class="pnames" href="{% url 'home' %}">Catalog</a>
            </li>
            

            <li >
              <a id="articlename" class="pnames" href="{% url 'article' %}">Article</a>
            </li>


          </ul>

        </nav>
    </header>

    <main> 
    <section>
      <article class="mainnames">
          <h1 id="logoname">Eclipsing binary catalog (Kepler + TESS)</h1>

          <h2 id="logoname2">Access to download light curve data from  
            <a target="_blank" href="https://sites.google.com/a/lctools.net/lctools/data-sources/kepler-lightcurve-directories">Kepler</a>
             or <a target="_blank" href="https://sites.google.com/a/lctools.net/lctools/data-sources/tess-lightcurve-directories">Tess</a>
          </h2>

          <h3 id="logoname3">Last update 8/4/2023 | Click <a href="/?page=7">here</a> to be directed to objects without cyclical variation</h3>
      </article>

      <article class="form_box">
        <form action="{% url 'home' %}" method="get">
          {% csrf_token %}

          <input type="text" name="kic" id="kic" placeholder="KIC">
          <button type="submit" class="btns">Search</button>

        </form>
      </article>

    </section>
  
  
    {% block content %}
    {% endblock %}
  </main>


</body>




</html>