{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indie</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/estruturamain.css' %}">

</head>
<body>

    <main>


        <section id="container">
            <table>
                <!-- <caption> </caption> -->
                <thead>
                    <tr>
                        <th class="sdata" colspan="3">Binary Parameters</th>
                        <th class="nada"></th>
                        <th class="tdata" colspan="9">Third Body Pameters</th>
                    </tr>
                    <tr>
                        <th>KIC/EPIC</th>
                        <th>period</th>
                        <th>bjd0</th>
                        <th class="nada"></th>
                        <th>period</th>
                        <th>e</th>
                        <th>a</th>
                        <th>&omega;</th>
                        <th>A</th>
                        <th>B</th>
                        <th>figs</th>
                    </tr>

                </thead>
                <tbody>

                    {% for dado in dados_paginados %}
                    <tr>
                        <td class="KIC/EPIC"><a href="{% url 'pagina_objetos' kic=dado.kic %}">{{ dado.kic }}</a></td>
                        <td class="Period">{{ dado.Period }}</td>
                        <td class="bjd0">{{ dado.bjd0 }}</td>
                        <td class="nada"></td>
                        <td class="Period_td">{{ dado.Period_td }}</td>
                        <td class="e">{{ dado.e}}</td>
                        <td class="a">{{ dado.a }}</td>
                        <td class="omega">{{ dado.omega }}</td>
                        <td class="Aa">{{ dado.Aa}}</td>
                        <td class="Bb">{{ dado.Bb }}</td>
                    </tr>
                
                    {% endfor %}
                    
                
                </tbody>
            </table>

        <article class="pagecontrol2">
                <span class="step-links">
                    {% if page_number > 1 %}
                        <a href="?page=1">Primeira página</a>
                        <a href="?page={{ page_number|add:"-1" }}">Anterior</a>
                    {% endif %}
            
                    <span class="current">
                        Página {{ page_number }} de {{ total_paginas }}.
                    </span>
            
                    {% if page_number < total_paginas %}
                        <a href="?page={{ page_number|add:"1" }}">Próxima</a>
                        <a href="?page={{ total_paginas }}">Última página</a>
                    {% endif %}
                </span>
            </article>

        <!--
            <article class="pagecontrol2">
                <p> | Page 1 of 20 | <a class="next" href="#"> Next</a> </p> 
            </article>
        -->

        </section>



    </main>




</body>
</html>
{% endblock %}