

.main_sistemas{
    padding-top: 100px;
}

.sistema_container{
    padding: 20px;
    width: 400px;

    text-align: justify;
    line-height: 1.5;

    background: rgba(44, 39, 65, 0.649);
    box-shadow: 0 0 6px rgba(255, 221, 87, 0.5);
    border: 1px solid #ffffff;
    border-radius: 16px;

    margin: 0 auto;
    overflow: hidden;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}



.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    color: aliceblue;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol {
    margin-top: 20px;
}

li {
    margin-bottom: 10px;
}

td, th{
    border: 1px solid rgb(255, 255, 255);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
}

table{
    border-collapse: collapse;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 6px rgba(255, 221, 87, 0.5);

    padding: 20px;
    width: 400px;

    margin-top: 69px;
    margin-bottom: 39px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
/*
tbody > tr:nth-child(odd){ /*EFEITO ZEBRADO
    background-color: rgb(233, 233, 233);
  }
  
  tbody > tr:nth-child(even){ /*EFEITO ZEBRADO
    background-color: rgb(205, 205, 205);
  }
  */