/* Estilo para a seção de Contato */
.contact {
    background-color: #2b2b2b; /* Cor de fundo cinza */
    padding: 50px 0;
    text-align: center;
  }
  
  /* Estilo para o conteúdo dentro da seção de Contato */
  .contact-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact h2 {
    color: rgb(255, 147, 15);
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  /* Estilo para o link do Instagram */
  .instagram-link img {
    width: 30px; /* Ajuste conforme necessário */
    height: 30px; /* Ajuste conforme necessário */
    margin-top: 10px;
  }
  
  /* Adicione mais estilos conforme necessário */
  