{% extends 'titan/home/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
    <link rel="stylesheet" type="text/css" href="{% static 'css/titan/mid/validation.css' %}">
</head>

<body>
    <section class="form-box">
        <h2 class="titulo_form">Verificação de Código</h2>
        <form method="post" action="{% url 'Titan_app:registration_code' %}">
            {% csrf_token %} 
            <article class="input-box">
                <span class="material-symbols-outlined">
                    lock
                </span>
                <input type="password" required id="registration_code" name="registration_code">
                <label>Código</label>
            </article>
            <button type="submit" class="btn">Verificar Código</button>
        </form>
    </section>
</body>

</html>

{% endblock %}